<!DOCTYPE html>
<html>
<head>
    <%- include('htmlHead') %>
    <script>
        function deleteComment(id) {
            const commentID = id;
            if (confirm('Are you sure you want to delete this comment?')) {
                fetch(`/characters/character/<%= character.id %>/${id}/delete`, {method: 'delete'})
                    .then(() => {
                        location.href = '/characters/character/<%= character.id %>';
                    })
            }
        }
    </script>
</head>

<body>
<%- include('navComponent') %>


<h1><%= character.atlaCharacter %></h1>
<p class="explanationText"><%= character.longDescription %></p>

<% if (currentUser.id) { %>
    <h3>Create a New Comment</h3>
    <form action="/characters/create-comment" method="POST">
        <input type="hidden" name="characterId" value="<%= character.id %>">
        <textarea name="content" placeholder="Enter your comment here" required></textarea>
        <br>
        <button type="submit" class="buttonStyled">Add Comment</button>
    </form>
<% } %>

<h2>Comments</h2>
<div id="comments">
    <% if(comments.length > 0) { %>
        <% comments.forEach(comment => { %>
            <div id="commentCards">
                <div class="comment">
                    <p>
                        <a href="/users/<%= comment.user_id %>"><%= comment.username %></a>,
                        created at <%= comment.created_at %>
                    </p>
                    <p><%= comment.content %></p>

                    <% if(currentUser && (currentUser.role === 'Administrator' || currentUser.id === comment.user_id)) { %>
                        <button onclick="deleteComment(<%= comment.id %>)">Delete</button>
                    <% } %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div>No comments yet.</div>
    <% } %>

</div>
</body>
