<!doctype html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>
<body>
<%- include('navComponent') %>

<div class="image-container">
    <div id="content">
        <h1>Edit your Profile</h1>
        <form action="/users/<%= user.id %>" method="post">
            <% if(message) { %>
                <p><%= message %></p>
            <% } %>
            <% Object.keys(user).forEach(function (key) { %>
                <% if (key === 'id' || key === 'nation' || key === 'profilePicture' || key === 'role') { return; %>
                <% } else if (key === 'password') { %>
                    <label for="password" class="label">Password</label><br>
                    <input type="text" name="password"/><br>
                <% } else { %>
                    <label for="<%= key %>" class="label"><%= key %></label><br>
                    <input type="text" name="<%= key %>" value="<%= user[key] %>"/><br>
            <% }}) %>

            <button type="submit" value="save changes">Save Changes</button>

        </form>
    </div>
</div>
</body>
</html>